/*place global styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply h-full overflow-hidden; }


h2 {
    font-size: 1.6666667rem;
    line-height: 4/3;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 600;
}


/* @media (min-width: 768px) {
    .c-prose {
        font-size: 1.125rem;
    }
    .c-prose h3 {
        font-size: 1.3333334em;
        line-height: 1.5;
    }
} */